;; shadow-cljs configuration
{
 :source-paths
 ["src"]

 :dependencies
 []

 :nrepl {:middleware [refactor-nrepl.middleware/wrap-refactor]}

 :builds
 {:app
  {:main operation.core/main
   :target :node-script
   :output-to "index.js"
   :infer-externs true
   :devtools {:repl-pprint true}
   :compiler-options {
                      :optimizations :simple
                      :variable-renaming :off
                      :property-renaming :off
                      :pretty-print true
                      :source-map true}}
  }}
